{% extends '_template.html.twig' %}

{% block body %}
    <div class="section">
        <center><h1>{{ form_title }}</h1></center>

        {{ form_start(event_form) }}
        {{ form_row(event_form.title, {label: "Title : "}) }}
        {{ form_row(event_form.description, {label: "Description : "}) }}
        {{ form_row(event_form.city, {label: "City : "}) }}
        {{ form_row(event_form.date, {label: "Date : "}) }}

        <button type="submit" class="button is-primary is-fullwidth">
         GO !
        </button>
        {{ form_end(event_form) }}
    </div>
{% endblock %}